.code {
  max-width: 796px;
  margin: 20px auto !important;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 20px;
}

.main {
  max-width: 796px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
